input[type="range"][orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.btn-tool {
    border: 2px solid #ccc;
    padding: 8px;
}

.my-canvas {
    /* border: 4px solid #0e4965; */
    border-radius: 30px 30px 0 0;
    margin: 10px;
    background-color: #fff;
}
